extends layout

block header
  img.logo.left(src='/images/a_web.png')

block banner
  h1 Is your business stuck in Jurassic times? <br />Appasaurus can help you evolve.

block footer
  .copyright
    Copyright &copy; 2013 Appasaurus
      
  .socialLinks
    <div class="g-plusone" data-annotation="none"></div>
  script.
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();