body {
    background: #2c1733;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #efefef;
    text-align:center;
}

a {
  color: #999;
}

.socialLinks {
    display: none;
}

header { 
    max-width: 960px; 
    margin: 0 auto;
}

.left { float: left; }
.right { float: right; }

.logotype { 
    color: #efefef;
    font-family: 'Cherry Swash'; 
    font-weight: 400;
    font-size: 24pt;
    margin-top: 25px;
}

